@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}


<h1>Index Page</h1>



<div class="container p-3">
    <div class="row pt-4">
        <div class = "col-6">
    <h2 class="text-primary">Category List</h2>
        </div>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="CategoryController1" asp-action="Create">Create New Category</a>
    </div>



<table style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name;
                </td>
                <td width="30%">
                    @obj.DisplayOrder;
                </td>

                <td>
                    <div class="w-75 btn-group" role="group">
            <a asp-controller="CategoryController1" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="CategoryController1" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Delete</a>
                    </div>
                </td>
            </tr>
        }

    </tbody>




</table>
</div>
